body {
    font-family:sans-serif;
}
.custom_white{
    color:#F9FAF8;
}

#header {
    /*Styles*/
    background-color:#1F2937;
    display:flex;
    align-items: center;
    font-family: Roboto, sans-serif;
}


#header h3{
    font-size:24px;
    font-family: sans-serif;
    padding-left:10em;
}


#links{
    display:flex;
    flex:1;
    gap:2em;
    justify-content: right;
    align-items: center;
    align-content: center;
    margin-right:10em;
}

#links a{
    text-decoration: none;
}

@media screen and (max-width:1000px) {
    #links{
        margin-right:2em;
    }

    #header h3{
        padding-left:2em;
    }
}

@media screen and (max-width:700px){
    #links{
        gap:1em;
        margin-right:.5em;
    }

    #header h3{
        padding-left:.5em;
        padding-right:1em;
    }
}


#main_container{
    background-color:#1F2937;
    height:350px;
    display:flex;
    align-items: center;
    justify-content:center;
    font-family: sans-serif;

}

#container1 button{
    background-color: #3882F6;
    color:white;
    border-radius: 5px;
    border:0px;
    font-size: 20px;
    font-family: sans-serif;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    font-weight: 800px;
}

#container1{
    padding-left:4em;
    font-family: sans-serif;
}

@media screen and (max-width:700px){
    #container1{
        margin-left:5em;
        padding-bottom:2em;
    }
}

#main_container #container1  h1{
    font-size:48px;
    font-weight: 900px;
}

#container1{
    max-width:300px;
}

#main_container img{
    width:500px;
    height:200px;
    margin-left:4em;
    padding-right:2em;
}

body{
    padding:0px;
    margin:0px;
}

#container2 h1{
    text-align:center;
    margin-top:2em;
    margin-bottom:2em;
}

#container2{
    width:100vw;
}

#images {
    display:flex;
    flex-wrap: nowrap;
    justify-content:center;
    margin-left:15%;
    margin-right:15%;


}

#images .img-option{
    flex:1;
    padding-left:1em;
}

#images .img-option img{
    min-width:0;
    width:100%;
}

#container3{
    margin-top:6em;
    height:400px;
    background-color: #E5E7EB;
    padding-left:25%;
    padding-right:25%;

    min-width:0;
    width:50%;
}

#container3 #quote{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height:100%;
    min-width:0;
    width:50vw;


}

#quote i{
    font-size: 36px;
    color: #1F2937;
    font-family: light italic;
    min-width:0;
    width:100%;
}

@media screen and (max-width:600px){
    #container3{
        padding-left: 15%;
        padding-right:15%;
    }

    #container3 #quote{
        width:70vw;
    }
}

#quote b{
    flex:1;
    text-align: right;
    padding-right:10%;
    font-size:20px;
    font-weight:800px;
}

#alert{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:100px;
    margin-right:100px;
    margin-top:50px;
    margin-bottom:50px;
    background-color: #3882F6;
    border-radius:5px;
    color:white;
}

#alert button{
    flex:1;
    margin-right: 9em;
    border-radius: 5px;
    color:white;
    border:white 2px solid;
    background-color: #3882F6;
}

#alert_section1{
    flex:10;
    text-align: center;
}

#copyright{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:#1F2937;
    padding:25px;
    color:white;
}

#copyright p {
    flex:1;
    text-align:center;
}