.custom_white{
    color:#F9FAF8;
}

#header {
    /*Styles*/
    background-color:#1F2937;
    display:flex;
    align-items: center;
}


#header h3{
    font:24px;
    font-family: serif;
    padding-left:10em;
}


#links{
    display:flex;
    flex:1;
    gap:2em;
    justify-content: right;
    align-items: center;
    align-content: center;
    font-family: auto;
    margin-right:10em;
}

#links a{
    text-decoration: none;
    font-family: roboto,
}

@media screen and (max-width:1000px) {
    #links{
        margin-right:2em;
    }

    #header h3{
        padding-left:2em;
    }
}

@media screen and (max-width:600px){
    #links{
        gap:1em;
        margin-right:.5em;
    }

    #header h3{
        padding-left:.5em;
        padding-right:1em;
    }
}


#main_container{
    background-color:#1F2937;
    height:350px;
    display:flex;
    align-items: center;
    justify-content:center;

}

#container1{
    padding-left:4em;
}

#main_container #container1  h1{
    font:48px;
    font-weight: 900px;
}

#container1{
    max-width:300px;
}

#main_container img{
    width:500px;
    height:200px;
    margin-left:4em;
    padding-right:2em;
}

body{
    padding:0px;
    margin:0px;
}